body {
  margin: 0;
}
main {
  display: flex;
}
main section{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}
main section h1{
    text-align: center;
    flex: 0.5;
}

main section #chat{
    flex: 4;
}

main section form{
    /* height: 100px; */
    position: relative;
    flex: 1;
}

main section form #text{
    height: 100%;
    width: 80%;
    resize: none;
}

main section form #submit{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 10px;
}

main #mapid {
  height: 100vh;
  flex-basis: 75%;
}

